In [1]:
num=int(input("enter a number"))
n=num
c=0
sum=0
while(n!=0):
    n=n//10
    c=c+1
n=num
k=0
for i in range(c,0,-1):
    k=n%10
    n=n//10
    sum=k**i+sum
if(sum==num):
    print(f"{num} is disarium number")
else:
    print(f"{num} is not disarium number")

enter a number175
175 is disarium number

In [2]:
a=int(input("enter a number"))
n=a
sum=0
c=0
while(n!=0):
    n=n//10
    c=c+1
n=a
for i in range(0,c):
    k=n%10
    n=n//10
    sum=sum+k
if(a%sum==0):
    print(f"{a} is harshad number ")
else:    
    print(f"{a} is not harshad number")

enter a number50
50 is harshad number

In [9]:
for i in range(1,1000):
    num=i
    sum=0
    n=num
    c=0
    while(n!=0):
        c=c+1
        n=n//10
    n=i
    while (n!=0):
        k=n%10
        n=n//10
        sum=sum+k**c
    if(sum==i):
        print(i)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [11]:
x=int(input("enter a number"))
n=int(input("enter the power"))
print(f"{x} to the power {n} is {x**n}")

enter a number4
enter the power3
4 to the power 3 is 64

In [21]:
def factorial(n):
    if (n==0):
        return 1
    else:
        return n*factorial(n-1)
n=int(input("enter n value"))
r=int(input("enter r value"))
ans=factorial(n)/(factorial(r)*factorial(n-r))
print(ans)

enter n value5
enter r value2
10.0

In [8]:
num=int(input("enter the number of fibonacci numbers to be printed "))
def fibonacci(n):
    (n1,n2)=(0,1)
    (sum,c)=(0,0)
    while c<=n:
        print(n1,end=' ')
        sum=n1+n2
        (n1,n2)=(n2,sum)
        c=c+1
fibonacci(num)

enter the number of fibonacci numbers to be printed 5
0 1 1 2 3 5

In [9]:
n=int(input("enter a number"))
sum=0
while n!=0:
    d=n%10
    n=n//10
    sum=sum+d
print (sum)

enter a number343
10

In [14]:
n=int(input("enter a number"))
rev_num=0
while n!=0:
    d=n%10
    n=n//10
    rev_num=d+rev_num*10
print(rev_num)

enter a number456
654

In [24]:
n=int(input("enter a number"))
sum=0
for i in range(1,n+1):
    if n%i==0:
        sum=sum+i
if (sum-n==n):
    print(f"{n} is a perfect number")
else:
    print(f"{n} is not a perfect number")

enter a number28
28 is a perfect number

In [32]:
n=int(input("enter a number"))
rev_num=0
num=n
while num!=0:
    d=num%10
    num=num//10
    rev_num=rev_num*10+d
print(rev_num)
if (rev_num==n):
    print(f"{n} is a pallindrome number")
else:
    print(f"{n} is not a pallindrome number")

enter a number343
343
343 is a pallindrome number

In [37]:
n=int(input("enter the number of lines"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

enter the number of lines5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [38]:
n=int(input("enter a number"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

enter a number5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [39]:
n=int(input("enter number of rows"))
for i in range(n):
    for j in range(i+1):
        print(chr(i+65),end=' ')
    print()

enter number of rows5
A
B B
C C C
D D D D
E E E E E

In [41]:
n=int(input("enter number of rows"))
for i in range(0,n):
    for j in range(n,i,-1):
        print('*',end=' ')
    print()

enter number of rows5
* * * * *
* * * *
* * *
* *
*

In [49]:
n=int(input("enter number of rows"))
for i in range(0,n):
    for j in range(1,n-i+1):
        print(j,end=' ')
    print()

enter number of rows5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [56]:
n=int(input("enter number of rows"))
for i in range(n+1):
    for j in range(n-i):
        print(" ",end=' ')
    for k in range(1,2*i):
        print('*',end=' ')
    print()

enter number of rows5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [63]:
n=int(input("enter number of rows"))
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end=' ')
    for k in range(i,2*i):
        print(k,end=' ')
    for j in range(2 * i - 2, i - 1, -1):
        print(j, end=" ")
    print()

enter number of rows5
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [14]:
n=int(input("enter number of rows"))
for i in range(n):
    print(" "*i,end=' ')
    print("*"*(2*(n-i)-1),end=' ')
    print()

enter number of rows5
 *********
  *******
   *****
    ***
     *

In [41]:
n = 6

triangle = [[1] * (i + 1) for i in range(n)]

for i in range(2, n):
    for j in range(1, i):
        triangle[i][j] = triangle[i - 1][j - 1] + triangle[i - 1][j]

for i in range(n):

    print(" " * 2 *(n-i+1) , end="")
    
    for j in range(i + 1):
        print(f" {triangle[i][j]}", end=" ")
        
    print()

               1
             1  1
           1  2  1
         1  3  3  1
       1  4  6  4  1
     1  5  10  10  5  1

In [60]:
n=int(input("enter number of rows"))
c=1
for i in range(1,n+1):
    for j in range(i):
        print(c,end=' ')
        c=c+1
    print()

enter number of rows4
1
2 3
4 5 6
7 8 9 10

In [74]:
n=int(input("enter number of rows"))
c='B'
for i in range(1,n+1):
    for j in range(1,2*i):
        if(c=='A'):
            c='B'
        else:
            c='A'
        print(c,end=' ')
    print()

enter number of rows4
A
B A B
A B A B A
B A B A B A B

In [77]:
n=int(input("enter number of rows"))
c=0
for i in range(1,n+1):
    for j in range(1,2*i):
        if (c==0):
            c=1
        else:
            c=0
        print(c,end=' ')
    print()

enter number of rows4
1
0 1 0
1 0 1 0 1
0 1 0 1 0 1 0